/* Vista para Desktop */
/* Ocultaciones de Mobile */
@media screen and (min-width: 767px) {

    .alinear {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    /* Estilo al Menu de cabecera */

    @mixin tamanio($width, $height) {
        height: $height;
        width: $width;
    }

    .header {

        @extend.alinear;
        justify-content: space-around;

        border-bottom: double;
        border-color: map-get($map: $colores, $key: crema);

        .header__titulo {
            font-family: Fuente Titulo;
            font-size: 110px;
            color: map-get($map: $colores, $key: crema);
            margin-left: 190px;
        }

        .header__nav {
            background-color: map-get($map: $colores, $key: crema);
            border-radius: 2%;
            margin: 3px;
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
        }

        .logo {
            border-radius: 50%;

            margin: 1%;
            margin-left: 6%;

            @include tamanio(250px, 250px);
        }

        .nav-item :hover{
            background-color: map-get($map: $colores, $key: gris);
            color: map-get($map: $colores, $key: crema);
        }

        li {
            padding: 5px;
            margin: 5px;
        }

    }


    /* Estilo al area de informacion */

    /* HOME */

    .info {
        @extend.alinear;
        padding: 0px;
        margin: 0px;
        @include tamanio(100%, 100%);
        background-image: url(../media/madera.png);
        justify-content: center;

        .info__texto {
            @include tamanio(25%, 25%);
            height: fit-content;
            padding: 8px;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 10%;
            font-size: x-large;
            background-color: map-get($map: $colores, $key: crema);
            color: map-get($map: $colores, $key: gris);
        }

        .info__img__home {
            @include tamanio(500px, 500px);
            border-radius: 10%;
            margin-top: 20%;
            margin-bottom: 20%;
            margin-left: 30%;
            
        }

    }
    /* PRODUCTOS */

    .card {
        @include tamanio(600px, 600px);
        background-color: map-get($map: $colores, $key: crema);
        margin: 30px;
        border-radius: 5%;
    }

    .card-img-top {
        padding: 5px;
        border-radius: 8%
    }


    /* COMENTARIOS */

    .comentarios {
        display: flex;
        background-image: url(../media/madera.png);
    }


    /* ABOUT */

    .info__texto__acerca {
        margin: auto 20px;
        padding: 85px;
        width: 50%;
        height: fit-content;
        background-color: map-get($map: $colores, $key: crema);
        border-radius: 6%;
        position: relative;
    }

    .info__img__acerca {
        @include tamanio(500px, 500px);
        border-radius: 10%;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    /* ENCONTRANOS */

    .info__enco {
        display: flex;
        background-image: url(../media/madera.png);
    }

    .info__texto__enco {
        margin: auto 20px;
        padding: 85px;
        width: 50%;
        height: fit-content;
        background-color: map-get($map: $colores, $key: crema);
        border-radius: 6%;
        position: relative;
    }

    .info__map {
        margin: 110px;
    }

    /* Estilo a las redes sociales */

    .redes {
        display: flex;
        align-items: center;
        background-color: map-get($map: $colores, $key: crema);
        justify-content: space-around;
        border-style: none;
        border-top-style: double;
    }

    .redes__lista {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-end;
    }

    .redes__lista__item {
        border-style: none;
    }

    .redes__lista__img {
        @include tamanio(50px, 50px);
    }

    /* Estilo al footer */

    .footer {
        background-color: map-get($map: $colores, $key: gris);
        border-top-style: double;
        border-color: map-get($map: $colores, $key: crema);
        margin-top: auto;
        display: table;
        height: 40px;
        width: 100%;
    }

    .footer__img {
        padding: 5px;
        @include tamanio(25px, 25px);
        vertical-align: -11px;
    }

    h2 {
        font-family: Fuente Titulo;
        font-size: 15px;
        color: map-get($map: $colores, $key: crema);
        margin-right: 50px;
        text-align: end;
    }

}